{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firava Cars - Luxury Car Dealership</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% include 'layouts/header.html' %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% include 'layouts/footer.html' %}
  </body>
</html>
