{% block extra_css %}
<style>
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.logo {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.logo-icon {
  margin-right: 8px;
}

.nav-links .img_login img {
height:30px
}

.img_login {
height:100%;
display:flex;
justify-content:center;
align-items:center;
}

.a_href{
color: black
}

.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}
  @media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links a {
    margin-left: 0;
    margin-top: 8px;
  }
}

</style>
{% endblock %}

<nav class="nav-container">
  <a href="#" class="logo"><span class="logo-icon">🚗</span>Firava Cars</a>
  <div class="nav-links">
    <a href="{% url 'product:home' %}">Home</a>
    <a href="#inventory">Inventory</a>
    <a href="#services">Services</a>
    <a href="#testimonials">Testimonials</a>
    {% if user.is_authenticated  %}
    <div class="img_login"> <img src="https://cdn-icons-png.flaticon.com/512/3276/3276535.png">
<a class="a_href" href="{% url 'users:profile' %}">{{user.first_name}}</a></div>

    {% else %}
    <div class="img_login"> <img src="https://cdn-icons-png.flaticon.com/512/3276/3276535.png">

    <a class="a_href" href="{% url 'users:login' %}">Login</a></div>

{% endif %}
  </div>
</nav>
